<%if(locals.lastVisit) {%>
<div class="alert alert-info" role="alert">
  Last visit: <%=locals.lastVisit%>
</div>
<%}%>
<h1>Products</h1>
<table class="table table-primary table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Uploaded File</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach((data)=> { %>
    <tr>
      <th scope="row"><%= data.id %></th>
      <td><%= data.name %></td>
      <td><%= data.desc %></td>
      <td><%= data.price %></td>
      <td><img width="50" src="<%= data.img %>" /></td>
      <td><img width="50" src="uploads/<%=data.uploadFileName%>" /></td>
      <td>
        <a href="/update/<%=data.id%>" class="btn btn-sm btn-primary">Edit</a>
        <a
          onclick="productDeleteConfirmation('<%= data.id %>')"
          class="btn btn-sm btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
